<html>
<head>
	<title> Mi primer programa con python y django</title>
</head>
    <body>
        <div>
            <em><h1><a href="/">Django Girls Blog</a></h1></em>
        </div>

        <div>
            <p>publicado : 03.05.2020, 18:43</p>
            <h2><a href="">My first post</a></h2>
            <p>es un primer post.</p>
        </div>

        <div>
            <p>published: 03.05.2020, 18:43</p>
            <h2><a href="">My second post</a></h2>
            <p>Este es el segundo post</p>
            <br>
            <p>Salto de parrafo....</p>
            <a href="http://127.0.0.1:8000/admin">link hacia django</a>
            <br>
            <ul><li> 1.- Elemento uno </li>
            <br>
            <p> Un parrafo dentro de la lista </p>
            </br>
            <li> 2.- Elemento dos </li>
            <li> 3.- Tercel elemento </li></ul>
        </div>
    </body>
</html>
