<html>
<head>
	<title> Mi primer programa con python y django</title>
</head>
    <body>
        <div>
            <em><h1><a href="/"> -- Django Girls Blog</a></h1></em>
        </div>

        <div>
            {{ posts }} {{ posts }}
        </div>
        <div>
             <h1><a href="/">Django Girls Blog</a></h1>
         </div>
        <div>
           {% for post in posts %}
          <div>
               <p> publicado: {{ post.published_date }}</p>
               <h2><a href="">{{ post.title }}</a></h2>
               <p>{{ post.text|linebreaksbr }}</p>
          </div>
          {% endfor %}
        </div>
        <div>
            <p>published: 04.05.2020, 18:43</p>
            <h2><a href="">que viste ?.  My second post</a></h2>
            <p>Este es el segundo post</p>
            <br>
            <p>Salto de parrafo....</p>
            <a href="http://127.0.0.1:8000/admin">link hacia django</a>
            <br>
            <ul><li> 1.- Elemento uno </li>
            <br>
            <p> Un parrafo dentro de la lista </p>
            </br>
            <li> 2.- Elemento dos </li>
            <li> 3.- Tercel elemento </li></ul>
        </div>
    </body>
</html>
